            body {
                max-width: 540px;
                min-width: 320px;
                margin: 0 auto;
                font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
                color: #000;
                background: #f2f2f2;
                overflow-x: hidden;
                -webkit-tap-highlight-color: transparent;
            }
            
            a {
                text-decoration: none;
                color: #222;
            }
            
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            
            div {
                box-sizing: border-box;
            }
            /* Search bar */
            
            .search-index {
                display: flex;
                position: fixed;
                top: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                width: 100%;
                height: 44px;
                min-width: 320px;
                max-width: 540px;
            }
            
            .search {
                position: relative;
                height: 26px;
                line-height: 24px;
                border: 1px solid #ccc;
                flex: 1;
                font-size: 12px;
                color: #666;
                margin: 8px 10px;
                padding-left: 25px;
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                background-color: #F6F6F6;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
            }
            
            .search::before {
                content: "";
                position: absolute;
                top: 5px;
                left: 5px;
                width: 15px;
                height: 15px;
                background: url(../images/sprite.png) no-repeat -59px -279px;
                background-size: 104px auto;
            }
            
            .user {
                width: 44px;
                height: 44px;
                font-size: 12px;
                text-align: center;
                color: #2eaae0;
            }
            
            .user::before {
                content: "";
                display: block;
                width: 23px;
                height: 23px;
                background: url(../images/sprite.png) no-repeat -59px -194px;
                background-size: 104px;
                margin: 4px auto -1px;
            }
            /* Slider */
            
            .focus {
                padding-top: 44px;
            }
            
            .focus img {
                width: 100%;
            }
            /* Local Navigation bar */
            
            .local-nav {
                display: flex;
                height: 64px;
                background-color: #fff;
                margin: 3px 4px;
                border-radius: 8px;
            }
            
            .local-nav li {
                flex: 1;
            }
            
            .local-nav a {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 13px;
            }
            
            .local-nav-icon {
                width: 32px;
                height: 32px;
                background-color: pink;
                margin-top: 8px;
                /* background: url(../images/localnav_bg.png) no-repeat 0 0; */
                background-size: 32px auto;
            }
            
            .icon1 {
                background: url(../images/localnav_bg.png) no-repeat;
                background-size: 32px auto;
            }
            
            .icon2 {
                background: url(../images/localnav_bg.png) no-repeat 0 -32px;
                background-size: 32px auto;
            }
            
            .icon3 {
                background: url(../images/localnav_bg.png) no-repeat 0 -64px;
                background-size: 32px auto;
            }
            
            .icon4 {
                background: url(../images/localnav_bg.png) no-repeat 0 -96px;
                background-size: 32px auto;
            }
            
            .icon5 {
                background: url(../images/localnav_bg.png) no-repeat 0 -128px;
                background-size: 32px auto;
            }
            /* Mian Navigation section */
            
            nav {
                overflow: hidden;
                border-radius: 8px;
                margin: 0 4px 3px;
            }
            
            .nav-common {
                display: flex;
                height: 88px;
                background-color: pink;
            }
            
            .nav-common:nth-child(2) {
                margin: 3px 0;
            }
            
            .nav-items {
                flex: 1;
                display: flex;
                flex-direction: column;
            }
            
            .nav-items a {
                flex: 1;
                text-align: center;
                line-height: 44px;
                color: #fff;
                font-size: 14px;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
            }
            
            .nav-items a:nth-child(1) {
                border-bottom: 1px solid #fff;
            }
            
            .nav-items .items1 {
                border: 0;
                background: url(../images/hotel.png) no-repeat bottom center;
                background-size: 121px auto;
            }
            
            .nav-items .items2 {
                border: 0;
                background: url(../images/air.png) no-repeat bottom center;
                background-size: 90px auto;
            }
            
            .nav-items .items3 {
                border: 0;
                background: url(../images/travel.png) no-repeat bottom center;
                background-size: 90px auto;
            }
            
            .nav-items:nth-child(-n+2) {
                /* -n+2 = first two elements */
                border-right: 1px solid #fff;
            }
            
            .nav-common:nth-child(1) {
                /* Linear gradient */
                background: -webkit-linear-gradient(left, #FA5A55, #FA994D);
            }
            
            .nav-common:nth-child(2) {
                /* Linear gradient */
                background: -webkit-linear-gradient(left, #4B90ED, #53BCED);
            }
            
            .nav-common:nth-child(3) {
                /* Linear gradient */
                background: -webkit-linear-gradient(left, #34C2A9, #6CD559);
            }
            /* subnav-entry */
            
            .subnav-entry {
                display: flex;
                flex-wrap: wrap;
                border-radius: 8px;
                background-color: #fff;
                margin: 0 4px;
                padding: 5px 0;
            }
            
            .subnav-entry li {
                /* Each li has 20% width */
                flex: 20%;
            }
            
            .subnav-entry a {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .subnav-entry-icon {
                width: 28px;
                height: 28px;
                background-color: pink;
                margin-top: 4px;
                background: url(../images/subnav-bg.png) no-repeat;
                background-size: 28px;
            }
            /* Sales mod */
            
            .sales-box {
                border-top: 1px solid #bbb;
                background-color: #fff;
                margin: 4px;
            }
            
            .sales-hd {
                position: relative;
                height: 44px;
                border-bottom: 1px solid #ccc;
            }
            
            .sales-hd h2 {
                position: relative;
                text-indent: -999px;
                overflow: hidden;
            }
            
            .sales-hd h2::after {
                position: absolute;
                top: 8px;
                left: 20px;
                content: "";
                width: 79px;
                height: 15px;
                background: url(../images/hot.png) no-repeat 0 -20px;
                background-size: 75px auto;
            }
            
            .more {
                position: absolute;
                right: 5px;
                top: 0px;
                background: -webkit-linear-gradient(left, #FF506C, #FF68C6);
                border-radius: 15px;
                padding: 3px 20px 3px 10px;
                color: #fff;
            }
            
            .more::after {
                content: "";
                position: absolute;
                top: 9px;
                right: 9px;
                width: 7px;
                height: 7px;
                /* Triangle */
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                transform: rotate(45deg);
            }
            
            .row {
                display: flex;
            }
            
            .row a {
                flex: 1;
                border-bottom: 1px solid #eee;
            }
            
            .row a:nth-child(1) {
                border-right: 1px solid #eee;
            }
            
            .row a img {
                width: 100%;
            }